#grafo-container {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
}

.nodo {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.flecha {
    position: absolute;
    border: 2px solid #e74c3c;
    transform-origin: 0 100%;
    pointer-events: none; /* Evitar que las flechas afecten a los clics de los nodos */
}
