#grafo-container {
    position: relative;
    width: 800px;
    height: 440px;
    border: 1px solid #ccc;
}
body{
    background-color: #252954;
}

.main{
    padding: 0 88px;
    position: relative;
    overflow-x: hidden;
    background-color: #221f2f;
}

.main::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 55%;
    top: 20%;
    background-color: #ed2ff0;
    filter: blur(90px);
}

.main::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 80%;
    top: 44%;
    background-color: #22a8cd;
    filter: blur(90px);
}

.main .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


.nodo {
    position: absolute;
    width: 30px;
    height: 30px;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    z-index: 1; /* Ajusta el valor según sea necesario */
}

.flecha {
    position: absolute;
    border: 2px solid white;
    transform-origin: 0 10%;
    pointer-events: none; /* Evitar que las flechas afecten a los clics de los nodos */
}
.flecha-punta {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 11px solid white; /* Cambia el color según tus preferencias */
    position: absolute;
    top: -8.5px;
    right: 16.4px;
    
}

.logo{
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 32px;
}
 
h1{
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 32px;
}
