@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #252954; /* Establece el color de fondo de toda la página */
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#grafo-container {
    position: relative;
    width: 800px;
    height: 430px;
    border: 1px solid #ccc;

}
#contenedor-general {
    display: flex;
    align-items: flex-start; /* Para alinear los elementos en la parte superior */
}

#grafo-container,
#matriz-container {
    margin-right: 20px;
}

#matriz-adyacencia th,
#matriz-adyacencia td,
.nodo {
    color: white;
}


#matriz-container {
    margin-left: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#matriz-adyacencia {
    border-collapse: collapse;
}

#matriz-adyacencia, #matriz-adyacencia th, #matriz-adyacencia td {
    border: 1px solid #ccc;
    padding: 11.3px;
    text-align: center;
}



.nodo {
    position: absolute;
    width: 30px;
    height: 30px;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    z-index: 1; /* Ajusta el valor según sea necesario */
}
.flecha {
    position: absolute;
    border: 2px solid white;
    transform-origin: 0 10%;
    pointer-events: none;
    z-index: 0; /* Ajusta el valor según sea necesario */
}

.flecha::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 14px; /* Ajusta según sea necesario para el tamaño del triángulo */
    border-color: transparent transparent transparent white; /* Ajusta el color según tus preferencias */
    top: -9.4px; /* Ajusta según sea necesario para la posición del triángulo */
    right: 14px;
    z-index: 0; /* Un valor mayor que el z-index del nodo */
}



/*
Estilos agregados desde style.css
*/


.main{
    width: 100%; /* Ocupa el 100% del ancho de body */
    height: 100%; /* Ocupa el 100% de la altura de body */
    padding: 0 88px;
    position: relative;
    overflow-x: hidden;
    background-color: #221f2f;
}

.main::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 55%;
    top: 20%;
    background-color: #ed2ff0;
    filter: blur(90px);
}

.main::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 80%;
    top: 44%;
    background-color: #22a8cd;
    filter: blur(90px);
}

.main .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar .toggler{
    font-size: 2rem;
    color: #c5c3c3;
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: none;
}

.navbar .nav-btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 90px;
    height: 40px;
    color: #ccc;
    font-size: 12px;
}

.navbar .nav-btn.selected{
    border: 2px solid #ccc;
    border-radius: 50px;
}

.navbar .logo{
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 32px;
}

.navbar .item{
    font-size: 13px;
    color: #ccc;
    cursor: pointer;
}

.navbar .item.selected{
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #7e22ce;
}

.navbar .item.inactive{
    background: linear-gradient(95deg, #eaddf5 3.2%, #eaddf5 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .item:not(:last-child){
    margin-right: 20px;
}

.navbar .nav-buttons.active{
    transition: all 0.3s ease;
    opacity: 1;
}

.main .top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
}

.top-container .info-box{
    max-width: 50%;
    animation: toRight 0.8s;
}

.top-container .header{
    margin: 0;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 55px;
}

.top-container .info-text{
    margin: 20px 0 32px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.top-container .info-buttons{
    display: flex;
}

.top-container .info-btn{
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
}

.top-container .info-btn.nav-btn{
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid #fff;
}

.top-container .info-btn.selected{
    border: none;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
}

.top-container .nft-box{
    padding: 16px;
    border: 1px solid #000;
    background: linear-gradient(170deg, rgba(52, 93, 129, 0.08) 1.85%, rgba(57, 46, 75, 0.08) 98%);
    border-radius: 2rem;
    animation: toLeft 0.8s;
}

.top-container .nft-pic{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 1.6rem;
}

.top-container .nft-box .nft-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.top-container .nft-box .info, .top-container .nft-box .likes{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.top-container .nft-box .info-img{
    object-fit: cover;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.top-container .nft-box .likes .icon-box{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.top-container .nft-box .likes .icon-box .bx{
    font-size: 30px;
    margin-right: 8px;
}

.get-started{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

.get-started .header{
    align-self: center;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
}

.get-started .info-text{
    align-self: center;
    color: #ccc;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
}

.get-started .items-box{
    padding: 60px 80px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    justify-content: space-around;
}

.get-started .items-box:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 120px;
    top: 80px;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    filter: blur(140px);
}

.get-started .items-box .item-container p{
    width: 100px;
    margin-top: 12px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.get-started .items-box .item-container .item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 2.6rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(90px);
}

.get-started .items-box .item-container .item .bx{
    font-size: 38px;
    color: #eee;
}

.main .footer{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .copyright{
    padding-bottom: 25px;
    border-top: 1px solid #ccc;
}

.main .footer .footer-header{
    max-width: 50%;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
}

.main .footer .footer-links{
    display: flex;
}

.main .footer .footer-links .link{
    margin-left: 70px;
}

.main .footer .footer-links .link h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

.main .footer .footer-links .link p{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #ccc;
}

.copyright p{
    font-size: 12px;
    line-height: 36px;
    color: #afafaf;
}

@media screen and (max-width: 1040px) {
    .top-container{
        flex-direction: column;
    }

    .top-container .info-box{
        max-width: none;
        margin: 60px 0;
    }

    .top-container .nft-box{
        display: none;
    }

    .main .footer{
        flex-direction: column;
    }

    .main .footer .footer-header{
        max-width: 80%;
        margin-bottom: 30px;
        text-align: center;
    }

    .main .footer .footer-links .link:first-child{
        margin: 0;
    }
}

@media screen and (max-width: 925px) {
    .navbar .nav-links{
        display: none;
    }

    .navbar .nav-buttons{
        opacity: 0;
    }

    .navbar .toggler{
        display: flex !important;
        align-items: center;
    }

    .get-started .info-text{
        text-align: center;
    }

    .get-started .items-box{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        padding: 50px 0;
    }

    .get-started .items-box:before{
        height: 200px;
        top: 90px;
        filter: blur(120px);
    }
}

@media screen and (max-width: 700px) {
    .top-container{
        margin-top: 4rem !important;
    }

    .top-container .info-box{
        max-height: none;
        max-width: none;
        margin-bottom: 4rem;
    }

    .top-container .nft-box{
        display: block;
        max-width: none;
        max-height: none;
    }
}

@media screen and (max-width: 600px) {
    .main{
        padding: 0 40px;
    }

    .footer .footer-header{
        font-size: 20px;
        line-height: 30px;
        max-width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer .footer-links{
        justify-content: space-between;
        width: 100%;
    }

    .footer .footer-links .link{
        margin-left: 20px;
    }

    .footer .footer-links .link h5{
        font-size: 15px;
        line-height: 35px;
    }

    .footer .footer-links .link p{
        font-size: 11px;
        line-height: 18px;
    }
}

@keyframes toRight{
    from{
        transform: translateX(-700px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes toLeft{
    from{
        transform: translateX(550px);
    }
    to{
        transform: translateX(0px);
    }
}

h2.separator{
    padding: 0 80px;
    font-size: 40px;
    margin-top: 40px;
}
.sl-nft{
    padding: 0 80px;
    margin: 50px 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.sl-nft .item{
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    box-shadow: 0 10px 30px #f4f1f1;
    transition: all 0.3s ease;
}

.sl-nft .item:hover{
    box-shadow: none;  
}

.sl-nft .item .header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sl-nft .item .header i{
    font-size: 40px;
}

.sl-nft .item .header h5{
    font-size: 18px;
}

.sl-nft .item p{
    margin-top: 10px;
    padding: 0 4px;

}
/*
Función agregada para quitar el subrayao de las etiquetas a
*/

.nav-buttons a {
    text-decoration: none; /* Elimina la decoración del enlace */
}


/*
Estilo de botón HELP
*/

#helpBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    border: none;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    animation: helpBtnAnim 2s infinite;
}

@keyframes helpBtnAnim {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#helpPopup {
    position: fixed;
    bottom: 80px;
    left: 20px;
    width: 300px;
    background-color: #252954;
    color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 10px;
    display: none;
    z-index: 1;
}

.hidden {
    display: none;
}

#cargarBtn{
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 18px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
    border: none;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    font-family: 'Poppins', sans-serif;
}
#minimizarBtn{
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 18px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
    border: none;
    background: linear-gradient(95deg, #6bcff4 3.2%, #3b82f6 99.5%);
    font-family: 'Poppins', sans-serif;
}

#maximizarBtn{
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 18px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
    border: none;
    background: linear-gradient(95deg, #6bcff4 3.2%, #3b82f6 99.5%);
    font-family: 'Poppins', sans-serif;
}

#guardarBtn{
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 18px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
    border: none;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    font-family: 'Poppins', sans-serif;
}

#limpiarBtn{
    cursor: pointer;
    margin-left: 10px;

    padding: 8px 38px;
    border-radius: 18px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
    border: none;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    font-family: 'Poppins', sans-serif;
}

#eliminarBtn{
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 18px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
    border: none;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    font-family: 'Poppins', sans-serif;
}
#resultado-container {
    position: fixed;
    bottom: 80px; /* Distancia desde la parte inferior de la ventana */
    right: 20px; /* Distancia desde el borde derecho de la ventana */
    width: 500px;
    background: linear-gradient(95deg, #6bcff4 3.2%, #3b82f6 99.5%);
    color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 10px;
    display: none;
    z-index: 1; /* Asegura que esté por encima de otros elementos */
}
#guardarBtn, #exportPNG, #exportPDF, #exportJSON{
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 18px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
    border: none;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    font-family: 'Poppins', sans-serif;
}
.atributo-text {
    color: white;
    /* Otros estilos necesarios para posicionar y mostrar correctamente el texto del atributo */
}
.tooltip {
    background-color: #252954; /* Color de fondo como el cuadro de ayuda */
    color: white; /* Texto en color blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    position: absolute;
    z-index: 1000; /* Asegura que el tooltip esté por encima de otros elementos */
    width: 300px; /* O ajusta según la necesidad */
}
.tooltip button {
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 18px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
    border: none;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
}
.tooltip button:not(:last-child) {
    margin-right: 10px;
}
.resaltar {
    outline: 2px solid #f2eff5; /* Añade un contorno para resaltar */
    outline-offset: 2px;
    box-shadow: 0 0 8px #f4f3f6; /* Añade un resplandor para mayor visibilidad */
    z-index: 100000;
}

.tooltip button {
    display: inline-block;
    margin: 5px;
    font-size: 16px;
}
/* Ajusta estos estilos según la librería de iconos que uses */
.anterior-icono, .siguiente-icono, .finalizar-icono {
    display: inline-block;
    margin-right: 8px;
}
/* Estilos adicionales para los botones, si es necesario */

#capaDesenfoque {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Usa un color de fondo semitransparente si deseas oscurecer el fondo junto con el desenfoque */
    z-index: 999; /* Asegúrate de que esto sea menor que el z-index de .tooltip y .resaltar */
    backdrop-filter: blur(4px);
}

.tooltip, .resaltar {
    z-index: 10000; /* Mayor que el z-index de #capaDesenfoque para asegurar que se muestren por encima */
}
#botonVideo {
    position: absolute;
    right: -10px; /* Ajusta este valor para mover horizontalmente */
    top: -20px; /* Ajusta este valor para mover verticalmente */
    z-index: 1007; /* Asegúrate de que esté por encima del tooltip */
    cursor: pointer;
    background-color: #7e22ce; /* Color de fondo */
    border-radius: 50%; /* Botón redondo */
    padding: 10px; /* Tamaño del botón */
    border: none; /* Sin borde */
    outline: none; /* Sin resplandor al hacer clic */
    display: flex; /* Centrar el ícono dentro del botón */
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px #7e22ce; /* Sombra para efecto resplandeciente */
}

.boton-resplandor {
    animation: resplandor 1.5s infinite alternate;
}

@keyframes resplandor {
    0% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #7e22ce, 0 0 20px #7e22ce;
    }
    100% {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #7e22ce, 0 0 40px #7e22ce;
    }
}
