@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #252954;
}

.main{
    padding: 0 88px;
    position: relative;
    overflow-x: hidden;
    background-color: #221f2f;
}

.main::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 55%;
    top: 20%;
    background-color: #ed2ff0;
    filter: blur(90px);
}

.main::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 80%;
    top: 44%;
    background-color: #22a8cd;
    filter: blur(90px);
}

.main .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar .toggler{
    font-size: 2rem;
    color: #c5c3c3;
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: none;
}

.navbar .nav-btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 90px;
    height: 40px;
    color: #ccc;
    font-size: 12px;
}

.navbar .nav-btn.selected{
    border: 2px solid #ccc;
    border-radius: 50px;
}

.navbar .logo{
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 32px;
}

.navbar .item{
    font-size: 13px;
    color: #ccc;
    cursor: pointer;
}

.navbar .item.selected{
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #7e22ce;
}

.navbar .item.inactive{
    background: linear-gradient(95deg, #eaddf5 3.2%, #eaddf5 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .item:not(:last-child){
    margin-right: 20px;
}

.navbar .nav-buttons.active{
    transition: all 0.3s ease;
    opacity: 1;
}

.main .top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
}

.top-container .info-box{
    max-width: 50%;
    animation: toRight 0.8s;
}

.top-container .header{
    margin: 0;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 55px;
}

.top-container .info-text{
    margin: 20px 0 32px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.top-container .info-buttons{
    display: flex;
}

.top-container .info-btn{
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
}

.top-container .info-btn.nav-btn{
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid #fff;
}

.top-container .info-btn.selected{
    border: none;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
}

.top-container .nft-box{
    padding: 16px;
    border: 1px solid #000;
    background: linear-gradient(170deg, rgba(52, 93, 129, 0.08) 1.85%, rgba(57, 46, 75, 0.08) 98%);
    border-radius: 2rem;
    animation: toLeft 0.8s;
}

.top-container .nft-pic{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 1.6rem;
}

.top-container .nft-box .nft-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.top-container .nft-box .info, .top-container .nft-box .likes{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.top-container .nft-box .info-img{
    object-fit: cover;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.top-container .nft-box .likes .icon-box{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.top-container .nft-box .likes .icon-box .bx{
    font-size: 30px;
    margin-right: 8px;
}

.get-started{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

.get-started .header{
    align-self: center;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
}

.get-started .info-text{
    align-self: center;
    color: #ccc;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
}

.get-started .items-box{
    padding: 60px 80px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    justify-content: space-around;
}

.get-started .items-box:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 120px;
    top: 80px;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    filter: blur(140px);
}

.get-started .items-box .item-container p{
    width: 100px;
    margin-top: 12px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.get-started .items-box .item-container .item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 2.6rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(90px);
}

.get-started .items-box .item-container .item .bx{
    font-size: 38px;
    color: #eee;
}

.main .footer{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .copyright{
    padding-bottom: 30px;
    border-top: 1px solid #ccc;
}

.main .footer .footer-header{
    max-width: 50%;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
}

.main .footer .footer-links{
    display: flex;
}

.main .footer .footer-links .link{
    margin-left: 70px;
}

.main .footer .footer-links .link h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

.main .footer .footer-links .link p{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #ccc;
}

.copyright p{
    font-size: 12px;
    line-height: 36px;
    color: #afafaf;
}

@media screen and (max-width: 1040px) {
    .top-container{
        flex-direction: column;
    }

    .top-container .info-box{
        max-width: none;
        margin: 60px 0;
    }

    .top-container .nft-box{
        display: none;
    }

    .main .footer{
        flex-direction: column;
    }

    .main .footer .footer-header{
        max-width: 80%;
        margin-bottom: 30px;
        text-align: center;
    }

    .main .footer .footer-links .link:first-child{
        margin: 0;
    }
}

@media screen and (max-width: 925px) {
    .navbar .nav-links{
        display: none;
    }

    .navbar .nav-buttons{
        opacity: 0;
    }

    .navbar .toggler{
        display: flex !important;
        align-items: center;
    }

    .get-started .info-text{
        text-align: center;
    }

    .get-started .items-box{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        padding: 50px 0;
    }

    .get-started .items-box:before{
        height: 200px;
        top: 90px;
        filter: blur(120px);
    }
}

@media screen and (max-width: 700px) {
    .top-container{
        margin-top: 4rem !important;
    }

    .top-container .info-box{
        max-height: none;
        max-width: none;
        margin-bottom: 4rem;
    }

    .top-container .nft-box{
        display: block;
        max-width: none;
        max-height: none;
    }
}

@media screen and (max-width: 600px) {
    .main{
        padding: 0 40px;
    }

    .footer .footer-header{
        font-size: 20px;
        line-height: 30px;
        max-width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer .footer-links{
        justify-content: space-between;
        width: 100%;
    }

    .footer .footer-links .link{
        margin-left: 20px;
    }

    .footer .footer-links .link h5{
        font-size: 15px;
        line-height: 35px;
    }

    .footer .footer-links .link p{
        font-size: 11px;
        line-height: 18px;
    }
}

@keyframes toRight{
    from{
        transform: translateX(-700px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes toLeft{
    from{
        transform: translateX(550px);
    }
    to{
        transform: translateX(0px);
    }
}

h2.separator{
    padding: 0 80px;
    font-size: 40px;
    margin-top: 40px;
}
.sl-nft{
    padding: 0 80px;
    margin: 50px 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.sl-nft .item {

    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    box-shadow: 0 10px 30px #f4f1f1;
    transition: all 0.3s ease;
}


.sl-nft .item:hover{
    box-shadow: none;  
}

.sl-nft .item .header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sl-nft .item .header i{
    font-size: 40px;
}

.sl-nft .item .header h5{
    font-size: 18px;
}

.sl-nft .item p{
    margin-top: 10px;
    padding: 0 4px;

}
.sl-nft {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Ajusta el espacio entre los videos según necesites */
    justify-content: center; /* Centra los elementos si no ocupan todo el ancho */
}

.sl-nft .item {
    flex: 1 1 200px; /* Los elementos se ajustan pero no serán más pequeños de 200px */
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video-container iframe {
    display: block; /* Elimina cualquier espacio extra abajo del iframe */
    width: 100%;
    height: auto;
}

/*
Función agregada para quitar el subrayao de las etiquetas a
*/

.nav-buttons a {
    text-decoration: none; /* Elimina la decoración del enlace */
}

.heart {
    cursor: pointer;
    
  }
  /*works janky on mobile :<*/
/*works janky on mobile :<*/
.container {
    position: relative;
    width: 190px;
    height: 254px;
    transition: 200ms;
  }
  
  .container:active {
    width: 180px;
    height: 245px;
  }
  
  #card {
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 700ms;
    background: linear-gradient(43deg, #7e22ce 0%, #8d4ecc 46%, #3b82f6 100%);

  }
  
  .subtitle {
    transform: translateY(160px);
    color: rgb(134, 110, 221);
    text-align: center;
    width: 100%;
  }
  
  .title {
    opacity: 0;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out-out;
    transition-delay: 100ms;
    position: absolute;
    font-size: small;
    font-weight: bold;
    color: white;
  }
  
  .tracker:hover ~ #card .title {
    opacity: 1;
  }
  
  #prompt {
    bottom: 8px;
    left: 12px;
    z-index: 20;
    font-size: 20px;
    font-weight: bold;
    transition: 300ms ease-in-out-out;
    position: absolute;
    max-width: 110px;
    color: rgb(255, 255, 255);
  }
  
  .tracker {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
  }
  
  .tracker:hover {
    cursor: pointer;
  }
  
  .tracker:hover ~ #card #prompt {
    opacity: 0;
  }
  
  .tracker:hover ~ #card {
    transition: 300ms;
    filter: brightness(1.1);
  }
  
  .container:hover #card::before {
    transition: 200ms;
    content: '';
    opacity: 80%;
  }
  
  .canvas {
    perspective: 800px;
    inset: 0;
    z-index: 200;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
      "tr-6 tr-7 tr-8 tr-9 tr-10"
      "tr-11 tr-12 tr-13 tr-14 tr-15"
      "tr-16 tr-17 tr-18 tr-19 tr-20"
      "tr-21 tr-22 tr-23 tr-24 tr-25";
  }
  
  #card::before {
    content: '';
    background: linear-gradient(43deg, #7e22ce 0%, #8d4ecc 46%, #3b82f6 100%);
    filter: blur(2rem);
    opacity: 30%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: 200ms;
  }
  
  .tr-1 {
    grid-area: tr-1;
  }
  
  .tr-2 {
    grid-area: tr-2;
  }
  
  .tr-3 {
    grid-area: tr-3;
  }
  
  .tr-4 {
    grid-area: tr-4;
  }
  
  .tr-5 {
    grid-area: tr-5;
  }
  
  .tr-6 {
    grid-area: tr-6;
  }
  
  .tr-7 {
    grid-area: tr-7;
  }
  
  .tr-8 {
    grid-area: tr-8;
  }
  
  .tr-9 {
    grid-area: tr-9;
  }
  
  .tr-10 {
    grid-area: tr-10;
  }
  
  .tr-11 {
    grid-area: tr-11;
  }
  
  .tr-12 {
    grid-area: tr-12;
  }
  
  .tr-13 {
    grid-area: tr-13;
  }
  
  .tr-14 {
    grid-area: tr-14;
  }
  
  .tr-15 {
    grid-area: tr-15;
  }
  
  .tr-16 {
    grid-area: tr-16;
  }
  
  .tr-17 {
    grid-area: tr-17;
  }
  
  .tr-18 {
    grid-area: tr-18;
  }
  
  .tr-19 {
    grid-area: tr-19;
  }
  
  .tr-20 {
    grid-area: tr-20;
  }
  
  .tr-21 {
    grid-area: tr-21;
  }
  
  .tr-22 {
    grid-area: tr-22;
  }
  
  .tr-23 {
    grid-area: tr-23;
  }
  
  .tr-24 {
    grid-area: tr-24;
  }
  
  .tr-25 {
    grid-area: tr-25;
  }
  
  .tr-1:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-2:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-3:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-4:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-5:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-6:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-7:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-8:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-9:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-10:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-11:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-12:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-13:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-14:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-15:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-16:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-17:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-18:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-19:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-20:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-21:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-22:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-23:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-24:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-25:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .noselect {
    -webkit-touch-callout: none;
     /* iOS Safari */
    -webkit-user-select: none;
     /* Safari */
     /* Konqueror HTML */
    -moz-user-select: none;
     /* Old versions of Firefox */
    -ms-user-select: none;
     /* Internet Explorer/Edge */
    user-select: none;
     /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
  }
  .container-wrapper {
    display: flex;
    justify-content: space-around;
  }
  
  .container {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    width: calc(25% - 15px); /* Calcula el ancho de cada tarjeta para ocupar aproximadamente un tercio del contenedor, considerando el margen */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho de la tarjeta */
  }
  
  